# type hello_hidl, domain;
# type hello_hidl_exec, exec_type, vendor_file_type, file_type;
# hwbinder_use(hello_hidl);
# init_daemon_domain(hello_hidl)
# add_hwservice(hello_hidl, hello_hidl_hwservice)

# allow hello_hidl hwservicemanager_prop:file {map read open getattr};
# allow hello_hidl system_file:dir {read open getattr search};

# allow { hello_hidl shell } hello_hidl_hwservice:hwservice_manager { find };

# type hello_hidl, domain;
# type hello_hidl_service, service_manager_type;
# type hello_hidl_hwservice, hwservice_manager_type;
# type hello_hidl_exec, exec_type, vendor_file_type, file_type;

# init_daemon_domain(hello_hidl)

# get_prop(hello_hidl, hwservicemanager_prop)
# add_hwservice(hello_hidl, hello_hidl_hwservice)
# hwbinder_use(hello_hidl)


# allow platform_app hello_hidl_hwservice:hwservice_manager { find };
# # allow hello_hidl default_android_hwservice:hwservice_manager add;
# allow { hello_hidl shell } hello_hidl_hwservice:hwservice_manager { add find };
# allow platform_app hello_hidl:binder {call};


type hello_hidl, domain;
type hello_hidl_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(hello_hidl)

add_hwservice(hello_hidl, hello_hidl_hwservice)
hwbinder_use(hello_hidl)

#allow hello_hidl hello_hidl_hwservice:hwservice_manager { add find };
#allow hello_hidl default_android_hwservice:hwservice_manager { add find };
allow hello_hidl hidl_base_hwservice:hwservice_manager { add };
allow hello_hidl hello_hidl_dev_t:chr_file { open read write };
binder_call(hello_hidl,hwservicemanager)
get_prop(hello_hidl,hwservicemanager_prop)

